:root {
  --foundation-cyanlight: rgba(230, 253, 250, 1);
  --foundation-cyanlight-hover: rgba(217, 252, 248, 1);
  --foundation-cyanlight-active: rgba(176, 250, 240, 1);
  --foundation-cyannormal: rgba(0, 238, 207, 1);
  --foundation-cyannormal-hover: rgba(0, 214, 186, 1);
  --foundation-cyannormal-active: rgba(0, 190, 166, 1);
  --foundation-cyandark: rgba(0, 179, 155, 1);
  --foundation-cyandark-hover: rgba(0, 143, 124, 1);
  --foundation-cyandark-active: rgba(0, 107, 93, 1);
  --foundation-cyandarker: rgba(0, 83, 72, 1);
  --foundation-blacklight: rgba(230, 230, 230, 1);
  --foundation-blacklight-hover: rgba(217, 217, 217, 1);
  --foundation-blacklight-active: rgba(176, 176, 176, 1);
  --foundation-blacknormal: rgba(0, 0, 0, 1);
  --foundation-blacknormal-hover: rgba(0, 0, 0, 1);
  --foundation-blacknormal-active: rgba(0, 0, 0, 1);
  --foundation-blackdark: rgba(0, 0, 0, 1);
  --foundation-blackdark-hover: rgba(0, 0, 0, 1);
  --foundation-blackdark-active: rgba(0, 0, 0, 1);
  --foundation-blackdarker: rgba(0, 0, 0, 1);
  --foundation-whitelight: rgba(255, 255, 255, 1);
  --foundation-whitelight-hover: rgba(255, 255, 255, 1);
  --foundation-whitelight-active: rgba(255, 255, 255, 1);
  --foundation-whitenormal: rgba(255, 255, 255, 1);
  --foundation-whitenormal-hover: rgba(230, 230, 230, 1);
  --foundation-whitenormal-active: rgba(204, 204, 204, 1);
  --foundation-whitedark: rgba(191, 191, 191, 1);
  --foundation-whitedark-hover: rgba(153, 153, 153, 1);
  --foundation-whitedark-active: rgba(115, 115, 115, 1);
  --foundation-whitedarker: rgba(89, 89, 89, 1);
  --foundation-greylight: rgba(236, 236, 236, 1);
  --foundation-greylight-hover: rgba(226, 226, 226, 1);
  --foundation-greylight-active: rgba(196, 196, 196, 1);
  --foundation-greynormal: rgba(64, 64, 64, 1);
  --foundation-greynormal-hover: rgba(58, 58, 58, 1);
  --foundation-greynormal-active: rgba(51, 51, 51, 1);
  --foundation-greydark: rgba(48, 48, 48, 1);
  --foundation-greydark-hover: rgba(38, 38, 38, 1);
  --foundation-greydark-active: rgba(29, 29, 29, 1);
  --foundation-greydarker: rgba(22, 22, 22, 1);
  --foundation-white-netralnormal: rgba(255, 255, 255, 1);
  --foundation-primary-color-2normal: rgba(0, 238, 207, 1);
  --foundation-primary-colordarker: rgba(31, 11, 62, 1);
  --foundation-primary-colornormal: rgba(89, 30, 176, 1);
}
